footer {
  background-image: linear-gradient(to right bottom, #1447c9, #002fb1);
}

.networks {
  display: flex;
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 100px 0px;
}

.networks i {
  color: white;
  font-size: 30px;
}
