.container {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(60, 120, 250, .7), rgba(0, 47, 177, 0.8)),
    url(../images/headbckgr.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-13%, -50%);
  text-align: center;
  color: #eee; 
}

.text-box h1 {
  font-size: 50px;
  font-weight: 400;
}

.text-box p {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

@media only screen and (max-width: 425px) {
  .text-box h1 {
    font-size: 40px;
  }
}